@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .bg-radial-gradient {
      background: radial-gradient(circle at var(--x) var(--y), 
        rgba(79, 70, 229, 0.3) 0%, 
        transparent 70%);
    }
    .text-stroke {
      -webkit-text-stroke: 1px #4F46E5;
      text-stroke: 1px #4F46E5;
    }
  }

  @keyframes holo-glow {
    0% { opacity: 0.5; }
    50% { opacity: 0.8; }
    100% { opacity: 0.5; }
  }
  
  .animate-holo-glow {
    animation: holo-glow 3s ease-in-out infinite;
  }
  
  .animate-ping-slow {
    animation: ping 3s cubic-bezier(0, 0, 0.2, 1) infinite;
  }
  
  @keyframes ping {
    75%, 100% {
      transform: scale(1.5);
      opacity: 0;
    }
  }